<div>
  <div>total: </div>
  <div id='total-posts'><%=@total_p%></div>
</div>
<div class='head'>
  <% if user_signed_in? %>
    <%= current_user.email %>
    <%= link_to "Sign out", destroy_user_session_path, class: 'small_button',  method: :delete, data: { confirm: "Are you sure?" } %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: 'small_button' %>
    <%= link_to "Sign up", new_user_registration_path, class: 'small_button' %>
  <% end %>
</div>

<div class='body'>
  <div class='mnys'>
    <div id='dates' class='backward'>  <<  </div>
    <div id='dates' class='date'>
        <%= content_tag(:span, "", class: 'yrs') %>  
        <%= content_tag(:span, "", class: 'mon') %>
    </div>
    <div id='dates' class='forward'>  >>  </div>
  </div>
  <div class='days'>
  </div>
  <div class='post'>
    <%= render 'form' %>
  </div>
</div>

<div class='footer'>

</div>

